<web-app>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>https</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>PlacesListServlet</servlet-name>
    <servlet-class>servlets.PlacesListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlacesPhotoServlet</servlet-name>
    <servlet-class>servlets.PlacesPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacesListServlet</servlet-name>
    <url-pattern>/places-list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlacesPhotoServlet</servlet-name>
    <url-pattern>/places-photo</url-pattern>
  </servlet-mapping>
</web-app>
